{% load static %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->

  <!--================Blog Area =================-->
        {% for post in posts %}
        <br/>
            <h2><a href="{% url 'post-detail' post.id %}"style="color:#000000;">{{ post.title }}</a></h2>
            <p><small>By: {{ post.author }} on {{ post.date_posted|date:"F, d, Y"}}</small></p>
            <p>{{ post.content }}</p>
            <h4><a class="button button-blog" href="{% url 'post-detail' post.id %}">View More</a></h4>
            <br/>
        {% endfor %} 
