{% load static %}
    <br/>
  <div class="register">
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% load crispy_forms_tags %}
  <h2>Register here</h2>
  <div class="content-section">
      <form method="POST">
         {% csrf_token %} 
         <fieldset class="form-ground">
             {{ form|crispy }}
         </fieldset>
         <div class = "form-group">
             <button class="btn btn-outline-info" type="submit">Sign Up</button>
         </div>
      </form>
      <div class="border-top pt-3">
          <small class="text-muted">
              Already Have An Account? <a class="ml-2" href="/users/login.html">Sign In</a>
          </small>
      </div>
  </div>
  </div>
  h1>Register Form</h1>
<form method="POST">
  {% csrf_token %} 
  #Adding a bootstrap class
  <fieldset class="form-group">
    {{ form }}
  </fieldset>
  <div class="form-group">
    <button class="btn btn-outline-info" type="submit">Register</button>
  </div>
</form>
