{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
	<link rel="icon" href="{% static 'blog/img/Fevicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'blog/vendors/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/vendors/Magnific-Popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>
<body>
  <!--================ Header Top Area Start =================-->
  <section class="header-top d-none d-sm-block">
    <div class="container">
      <div class="d-sm-flex justify-content-between">
        <ul class="header-top__info mb-2 mb-sm-0">
          <li><a href="tel:+01432152323"><span class="align-middle"><i class="ti-mobile"></i></span>+2348176542514</a></li>
          <li><a href="mailto:info@example.com"><span class="align-middle"><i class="ti-email"></i></span>Info@example.com</a></li>
        </ul>
        <ul class="header-top__social">
          <li><a href="#"><i class="ti-facebook"></i></a></li>
          <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
          <li><a href="#"><i class="ti-instagram"></i></a></li>
          <li><a href="#"><i class="ti-skype"></i></a></li>
        </ul>
      </div>
    </div>
  </section>
  <!--================ Header Top Area end =================-->

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="index.html"><h1>THE LAW BLOG</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav" id="navbarToggle">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="/about.html">About</a></li> 
              <li class="nav-item active submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                </ul>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>  
  <br/>
  <div class="register">
      {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% load crispy_forms_tags %}
  <h2>Register here</h2>
  <div class="content-section">
      <form method="POST">
         {% csrf_token %} 
         <fieldset class="form-ground">
             {{ form|crispy }}
         </fieldset>
         <div class = "form-group">
             <button class="btn btn-outline-info" type="submit">Sign Up</button>
         </div>
      </form>
      <div class="border-top pt-3">
          <small class="text-muted">
              Already Have An Account? <a class="ml-2" href="/users/login.html">Sign In</a>
          </small>
      </div>
  </div>
  </div>
  h1>Register Form</h1>
<form method="POST">
  {% csrf_token %} 
  #Adding a bootstrap class
  <fieldset class="form-group">
    {{ form }}
  </fieldset>
  <div class="form-group">
    <button class="btn btn-outline-info" type="submit">Register</button>
  </div>
</form>